<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6943321319-uhvif3roiqhul707ennrm2nvf0ftee90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6943321319-uhvif3roiqhul707ennrm2nvf0ftee90</string>
	<key>API_KEY</key>
	<string>AIzaSyBuKT6SplXQ23foMSutoj7WDl8JkbECyHE</string>
	<key>GCM_SENDER_ID</key>
	<string>6943321319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TheFireChat-IOS11</string>
	<key>PROJECT_ID</key>
	<string>firechat-b843d</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-b843d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6943321319:ios:13db9036b710be65024642</string>
	<key>DATABASE_URL</key>
	<string>https://firechat-b843d.firebaseio.com</string>
</dict>
</plist>